---
layout: default
permalink: /blog
---

<div class="blog">
  <div class="blog-posts">
    <h1 class="heading1">The Orange Peel</h1>
      {% assign postsByYear =
        site.categories.blog | group_by_exp:"post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
        <h2 class="subtitle">{{ year.name }}</h2>
          <ul>
            {% for post in year.items %}
              <li class="blog-li">
                <a class="blog-li-title" href="{{ post.url }}">{{ post.title }}</a>
                <div class="sub">{{ post.date | date: '%B %e, %Y' }}</div>
                {{ post.content }}
              </li>
            {% endfor %}
          </ul>
      {% endfor %}
  </div>
  <div class="blog-sidebar">
    <h2 class="heading1">Archive</h2>
      {% for category in site.categories %}
        <h3>{{ category[0] }}</h3>
        <ul>
          {% for post in category[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
  </div>
</div>
