---
layout: default
title: Crappy Covers
permalink: /crappy-covers/
custom_js:
  - yall.min
custom_css:
  - crappy-covers
books:
  - title: "Requiem of Dice"
    author: "Timothy Wolff"
    crappyImg: "art/crappy-covers/juzi/wolff-requiem-of-dice.png"
    originalImg: "art/crappy-covers/original/wolff-requiem-of-dice.jpg"
    summary: "Dessie makes a last-ditch attempt to settle her debts in a gambling den only to meet a prince who offers to resolve her financial problems if she helps him spy on the spider goddess. Meanwhile, the Silent Almighty makes his way across the ocean with one simple message: Bestow upon me your pain, your illness, your sorrow. Silence will absolve them all."
  - title: "The Traitors We Are"
    author: "Michael Roberti"
    crappyImg: "art/crappy-covers/juzi/roberti-traitors-we-are.png"
    originalImg: "art/crappy-covers/original/roberti-traitors-we-are.jpg"
    summary: "The Reach launches a war to retake their home. Treachery and intrigue lead to questioned honor and loyalty, as leaders sell out friends and brothers in a personal bid for power."
  - title: "Blood Bound"
    author: "Trinity Cunningham"
    crappyImg: "art/crappy-covers/juzi/cunningham-blood-bound.png"
    originalImg: "art/crappy-covers/original/cunningham-blood-bound.jpg"
    summary: "In an attempt to stop a tyrant's conscription efforts, a twin brother ends up bound (by blood) to a magical stone."
  - title: "The Lucky Diamond"
    author: "Valinora Troy"
    crappyImg: "art/crappy-covers/juzi/troy-lucky-diamond.png"
    originalImg: "art/crappy-covers/original/troy-lucky-diamond.jpg"
    summary: "MG fantasy. Five orphans agree to help a magical talking diamond get home. Unbeknownst to them, the evil Queen Rose waits on the other side of the monster-infested Great Forest."
  - title: "The Last of the Atalanteans"
    author: "P.L. Stuart"
    crappyImg: "art/crappy-covers/juzi/stuart-last-of-the-atalanteans.png"
    originalImg: "art/crappy-covers/original/stuart-last-of-the-atalanteans.jpg"
    summary: "Othrun, prince of fallen Atalantyx, disguises himself to help a new ally reclaim their kingdom from usurpers all while fighting to establish a kingdom of his own. I realized I initially misread the title, but it doesn't really matter."
  - title: "Pulsar Sky"
    author: "Martin Lejeune"
    crappyImg: "art/crappy-covers/juzi/lejeune-pulsar-sky.png"
    originalImg: "art/crappy-covers/original/lejeune-pulsar-sky.jpg"
    summary: "A wannabe archaeologist betrayed and left for dead. A commander forced to open fire on civilians during an emergency evacuation. Their paths collide, and in a race to find the one thing that can save them, they presumably battle over Earth's first interstellar vessel."
  - title: "The Light of Mezzara"
    author: "T.J. McKay"
    crappyImg: "art/crappy-covers/juzi/mckay-light-of-mezzara.png"
    originalImg: "art/crappy-covers/original/mckay-light-of-mezzara.jpg"
    summary: "Selvandrea, the city of light, has fallen. Its lord, shamed and exiled. Its heroes, scattered. From the city's ahes, an evil god is waking. A god who craves chaos and feeds on despair."
  - title: "Flame of Almandraaz"
    author: "Timothy Robare"
    crappyImg: "art/crappy-covers/juzi/robare-flame-of-almandraaz.png"
    originalImg: "art/crappy-covers/original/robare-flame-of-almandraaz.jpg"
    summary: "Tiberius discovers he's the Prince of Flame. He embarks on a quest to find a mighty dragon so he can fight the Lord of Doom."
  - title: "Hedgehogs"
    author: "Iseult Murphy"
    crappyImg: "art/crappy-covers/juzi/murphy-hedgehogs.png"
    originalImg: "art/crappy-covers/original/murphy-hedgehogs.jpg"
    summary: "I got to redesign my first horror cover! It's about hedgehogs."
  - title: "Cronan's Kiss"
    author: "A.J. Leciejewksa"
    crappyImg: "art/crappy-covers/juzi/leciejewska-cronans-kiss.png"
    originalImg: "art/crappy-covers/original/leciejewska-cronans-kiss.jpg"
    summary: "After getting revenge on his abusive stepfather, a boy runs away to an enemy kingdom. As war approaches, he must decide whether to defend his new home with his life."
  - title: "He Who Are the Wild"
    author: "G.J. Terral"
    crappyImg: "art/crappy-covers/juzi/terral-he-who-ate-the-wild.png"
    originalImg: "art/crappy-covers/original/terral-he-who-ate-the-wild.jpg"
    summary: "After a boy's parents are murdered by spirits, he ventures into the forest searching for answers and apparently eats the wild."
  - title: "Sordaneon"
    author: "L.L. Stephens"
    crappyImg: "art/crappy-covers/juzi/stephens-sordaneon.png"
    originalImg: "art/crappy-covers/original/stephens-sordaneon.jpg"
    summary: "In a fallen world littered with corpses of broken god-machines, a sheltered, angry youth is destined to re-awaken their power. Unfortunately, decades after seizing the remaining god-machines, the privileged elite aren't willing to give up control."
  - title: "Whispers of the Storm"
    author: "Z.B. Steele"
    crappyImg: "art/crappy-covers/juzi/steele-whispers-of-the-storm.png"
    originalImg: "art/crappy-covers/original/steele-whispers-of-the-storm.jpg"
    summary: "'I wasn't always the monster they see me as. Half of the songs they sing sing are stories of my grandeur. The other half are tales of my misdeeds.'"
  - title: "The Scorching: The World in My Hands"
    author: "Nick Snape"
    crappyImg: "art/crappy-covers/juzi/snape-world-in-my-hands.png"
    originalImg: "art/crappy-covers/original/snape-world-in-my-hands.jpg"
    summary: "The rich, the powerful, and the very lucky flee Earth aboard alien plantships to escape the Scorching. There may or may not be dark secrets on board!"
  - title: "The Wraith and the Revolution"
    author: "A.J. Calvin"
    crappyImg: "art/crappy-covers/juzi/calvin-wraith-and-the-revolution.png"
    originalImg: "art/crappy-covers/original/calvin-wraith-and-the-revolution.jpg"
    summary: "Scifi cover redesign! Man sells his soul to a corporation because he's poor, has health conditions, and his home planet is polluted. I chose these colors because we all know that mild criticism of corporate means you must be communist."
  - title: "The Odyllic Stone"
    author: "Alex Scheuermann"
    crappyImg: "art/crappy-covers/juzi/scheuermann-odyllic-stone.png"
    originalImg: "art/crappy-covers/original/scheuermann-odyllic-stone.jpg"
    summary: "Aster deals with a plague running through his village, a bird that turns men into stone, pirates, and politics."
  - title: "ShadowBane"
    author: "Cal Logan"
    crappyImg: "art/crappy-covers/juzi/logan-shadowbane.png"
    originalImg: "art/crappy-covers/original/logan-shadowbane.jpg"
    summary: "Twins fight demons and the cult which led to their resurgence... while also navigating politics and a terrifying prophecy."
  - title: "The Wraith Returns"
    author: "Paul G. Zareith"
    crappyImg: "art/crappy-covers/juzi/zareith-wraith-returns.png"
    originalImg: "art/crappy-covers/original/zareith-wraith-returns.jpg"
    summary: "There's a lot going on in this book including runecraft, a tree god, and alien vampires. South Asian dark fantasy/cosmic horror."
  - title: "The Silver Crystal"
    author: "Ryan Lanz"
    crappyImg: "art/crappy-covers/juzi/lanz-silver-crystal.png"
    originalImg: "art/crappy-covers/original/lanz-silver-crystal.jpg"
    summary: "Rhael is sent to subdue rebels (the Corrupted) only to discover he has more of the enemy in him than he thought. I think my version is better than Jeff Brown's."
  - title: "The Jinn's Bargain"
    author: "Fetin Sardaneh"
    crappyImg: "art/crappy-covers/juzi/sardaneh-jinns-bargain.png"
    originalImg: "art/crappy-covers/original/sardaneh-jinns-bargain.jpg"
    summary: "Her home lost and brother cursed, Esin calls upon the mysterious powers that sealed her family's downfall."
  - title: "The Coldwater Job"
    author: "Mike Cahoon"
    crappyImg: "art/crappy-covers/juzi/cahoon-coldwater-job.png"
    originalImg: "art/crappy-covers/original/cahoon-coldwater-job.jpg"
    summary: "A group of thieves con their way into a strange castle. Dark epic fantasy."
  - title: "The Stars Within"
    author: "Alex Arch"
    crappyImg: "art/crappy-covers/juzi/arch-stars-within.png"
    originalImg: "art/crappy-covers/original/arch-stars-within.jpg"
    summary: "A space miner flees home to cure his illness while a hero tries to stop an alien invasion. One must fall."
  - title: "Tails of Battle 1: The Fox, the Jaguar, and the Mysterious Island"
    author: "Timothy Robare"
    crappyImg: "art/crappy-covers/juzi/robare-tails-of-battle1.png"
    originalImg: "art/crappy-covers/original/robare-tails-of-battle1.jpg"
    summary: "A novel about foxes and jaguars at war. Apparently, there's an island involved, so I wanted something tropical."
  - title: "Liar's Blood"
    author: "R.L. Newt"
    crappyImg: "art/crappy-covers/juzi/newt-liars-blood.png"
    originalImg: "art/crappy-covers/original/newt-liars-blood.jpg"
    summary: "Fyren takes her twin's place as a human sacrifice only to be saved by a violet blood transfusion (?) from her enemies. Now, her saviors won't let her go as she might be key to saing their kingdom."
  - title: "Champion of A'dara"
    author: "J.S. Hyder"
    crappyImg: "art/crappy-covers/juzi/hyder-champion-of-adara.png"
    originalImg: "art/crappy-covers/original/hyder-champion-of-adara.jpg"
    summary: "Elves isekai their prophesized champion to save their dying world. She learns magic and falls for her elven guardian, as you do."
  - title: "Strategem of Fated Winds"
    author: "Minyue Fu"
    crappyImg: "art/crappy-covers/juzi/fu-strategem-of-fated-winds.png"
    originalImg: "art/crappy-covers/original/fu-strategem-of-fated-winds.jpg"
    summary: "Two Chinese generals from the Three Kingdoms period reunite after death and try to change their tragic fates."
  - title: "Ember and Steel"
    author: "Donna Morgan"
    crappyImg: "art/crappy-covers/juzi/morgan-ember-and-steel.png"
    originalImg: "art/crappy-covers/original/morgan-ember-and-steel.jpg"
    summary: "The gods are gone. Magic is lost. Vengeance is nigh. After witnessing her friend's murder, Sarah is running for her life. She finds a circle of druid stones whcih contain a burning presence that will change her life forever. I'm not sure what this 'burning presence' was, but a well-roasted chicken would change MY life."
  - title: "The Source of Strife"
    author: "Alex Arch"
    crappyImg: "art/crappy-covers/juzi/arch-source-of-strife.png"
    originalImg: "art/crappy-covers/original/arch-source-of-strife.jpg"
    summary: "Weird west fantasy where mages feed on human catalysts to power their spells."
  - title: "Phoenix Rises Dragon Soars"
    author: "Charlotte Saulter"
    crappyImg: "art/crappy-covers/juzi/saulter-phoenix-rises-dragon-soars.png"
    originalImg: "art/crappy-covers/original/saulter-phoenix-rises-dragon-soars.jpg"
    summary: "An empire in turmoil. A fobidden magic promising death. Four lives changed forever."
  - title: "A Mage's Mentor"
    author: "Stephen Jarocki"
    crappyImg: "art/crappy-covers/juzi/jarocki-mages-mentor.png"
    originalImg: "art/crappy-covers/original/jarocki-mages-mentor.jpg"
    summary: "Adventure fantasy cover. Now with more hills! A mother's mysterious disappearance leads to the search for a powerful mage and an unlikely companion who may or may not be trustworthy."
  - title: "Garden Maze"
    author: "Isaac Anderson"
    crappyImg: "art/crappy-covers/juzi/anderson-garden-maze.png"
    originalImg: "art/crappy-covers/original/anderson-garden-maze.jpg"
    summary: "Following a promise of riches, a knight and his squire enter a cursed hedge maze."
  - title: "Crownfall"
    author: "Michael Vadney"
    crappyImg: "art/crappy-covers/juzi/vadney-crownfall.png"
    originalImg: "art/crappy-covers/original/vadney-crownfall.jpg"
    summary: "Nobledark fantasy with an industrial setting! The holy trifecta of dangerous powers, dangerous talents in the wrong hands, and dangerous alliances."
---

<div class="art">
  <h1 class="heading1">Crappy Covers</h1>
  <p class="paragraph">
    Do you need a book cover to entice the wrong readers? One that is unattractive, unpolished, and unprofessional? Juzi aspires to become the world's worst book cover designer and makes crappy covers for their fellow authors! Originals on right.
  </p>
  <p class="paragraph">
    <strong>Commissions are open! $10 USD per cover. Please contact Juzi at juziauthor@gmail.com to schedule.</strong>
  </p>
  <ul class="crappy-covers">
    {% for book in page.books %}
      {% include crappy-cover.html
        title=book.title
        crappyImg=book.crappyImg
        originalImg=book.originalImg
        summary=book.summary
      %}
    {% endfor %}
      </ul>
</div>
