---
layout: default
title: Crappy Covers
permalink: /crappy-covers/
custom_js:
- yall.min
custom_css:
- crappy-covers
---

<div class="art">
  <h1 class="heading1">Crappy Covers</h1>
  <p>
    Do you need a book cover to entice the wrong readers? One that is unattractive, unpolished, and unprofessional? Juzi aspires to become the world's worst book cover designer and designs crappy covers for their fellow authors! Originals on right.
  </p>
  <div class="crappy-covers">
    {% include crappy-cover.html img="art/crappy-covers/juzi/cahoon-coldwater-job.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/cahoon-coldwater-job.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/arch-stars-within.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/arch-stars-within.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/robare-tails-of-battle1.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/robare-tails-of-battle1.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/newt-liars-blood.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/newt-liars-blood.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/hyder-champion-of-adara.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/hyder-champion-of-adara.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/fu-strategem-of-fated-winds.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/fu-strategem-of-fated-winds.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/morgan-ember-and-steel.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/morgan-ember-and-steel.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/arch-source-of-strife.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/arch-source-of-strife.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/saulter-phoenix-rises-dragon-soars.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/saulter-phoenix-rises-dragon-soars.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/jarocki-mages-mentor.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/jarocki-mages-mentor.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/anderson-garden-maze.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/anderson-garden-maze.jpg" %}

    {% include crappy-cover.html img="art/crappy-covers/juzi/vadney-crownfall.jpg" %}
    {% include crappy-cover.html img="art/crappy-covers/original/vadney-crownfall.jpg" %}
  </div>
</div>

