---
layout: default
---
<!-- <div class="video-wrapper">
  <iframe class="video" width="950" height="534" src="https://www.youtube.com/embed/kFgGR5vS4f0?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->
  <div class="book-prev">
      <a href="{{ site.url }}/sunslayer">
        <div class="book-sm">
        <img src="{{ site.url }}/img/writing/sun-slayer/sun-slayer-cover-ebook.jpg" title="Sun Slayer Book Cover" alt="Sun Slayer book cover: An illustrated piece reminiscent of Chinese blue and white porcelain. A red sun rises above clouds and a palace which looks like it could be made of water. A prince, with his red coat flaring behind him, attacks an ink wash dragon.">
        <div class="shading"></div>
        </div>
      </a>
      <div class="book-prev-info">
        <div class="sr-only">Sun Slayer</div>
        <p>
          A prince grapples with mysterious powers while thwarting his brother's mischief. Can they repair their crumbling empire before a vengeful healer destroys it?
        </p>
        <p>
          Sun Slayer is a classic eastern fantasy revenge tale, but the protagonist is the villain's son. Enter a world of demons, clashing kingdoms, and powerful magic anyone can cultivate... at a very heavy price.
        </p>
        <a class="cta" href="{{ site.url }}/sunslayer">Read More</a>
      </div>
  </div>

<section class="blog-stub">
  <h1 class="heading1">The Orange Peel: A Citrus-Flavored Blog</h1>
  <ul class="blog-ul">
    {% for post in site.categories.blog limit:3 %}
      {% if post.url %}
          <li>
            <div>
              <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3>
                <div class="sub">{{ post.date | date: '%B %e, %Y' }}</div>
                {{ post.excerpt }}
                <div class="sub">Read more...</div>
              </a>
            </div>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="center">
    <a class="cta center-cta" href="{{ site.url }}/blog">See All Posts</a>
  </div>
</section>

  <h2 class="heading1">Exploring the history, traditions, and fiction of East Asia</h2>
  <div class="articles-wrapper">
    <div class="articles">
        {% include article-link.html
          title="What is Wuxia?"
          img="what-is-wuxia-cover.jpg"
          permalink="/what-is-wuxia/"
        %}
        {% include article-link.html
          title="Comparing Eastern Fantasy Genres: Wuxia, Xianxia, & Xuanhuan"
          img="wuxia-xianxia-xuanhuan-cover.jpg"
          permalink="/wuxia-xianxia-xuanhuan/"
        %}
        {% include article-link.html
          title="Explaining Wuxia Using Star Wars"
          img="star-wars-wuxia-cover.jpg"
          permalink="/star-wars-wuxia/"
        %}
        {% include article-link.html
          title="Wuxia & Xianxia Weaponry"
          img="wuxia-weapons-cover.jpg"
          permalink="/weapons/"
        %}
        {% include article-link.html
          title="What's That Called?: Eastern Architecture Terminology"
          img="what-is-that-architecture-cover.jpg"
          permalink="/what-is-that-architecture/"
        %}
        {% include article-link.html
          title="Traditional East Asian Candy"
          img="asian-candy-cover.jpg"
          permalink="/asian-candy/"
        %}
    </div>
  </div>

<!--
  <h2 class="heading1">Creating an epic fantasy world</h2>
  <div class="articles">
      {% include article-link.html
        title="Sun Slayer is Looking for Beta Readers"
      %}
      {% include article-link.html
        title="Origins of Sun Slayer: How I Came Up With the World and Story"
      %}
      {% include article-link.html
        title="Why I Added Magic to Sun Slayer"
      %}
  </div>
-->


<!--
<div class="home-newsletter">
  <form action="https://docs.google.com/forms/u/3/d/e/1FAIpQLSd3A5OVYGh9DEZBhxJkS2W-2KpjPJGFP3IZlxbc3QGXpiWWNA/formResponse">
    <label>Name:</label>
    <input type="text" name="entry.854070292">
    <label>Email:</label>
    <input type="email" name="entry.1666885742">
    <input type="submit" value="Submit">
  </form>
</div>
-->
