<div class="footer">
  <div class="newsletter" id="newsletter">
    <h2 class="heading1">Join Juzi's Newsletter</h2>
    <p>I am recruiting disciples to cultivate the way of email newsletters! Free boarding, food, and ocaassional insight into the art of writing cultivation manuals!</p>
    <form class="newsletter-form" target="hidden-iframe" action="https://docs.google.com/forms/u/3/d/e/1FAIpQLSd3A5OVYGh9DEZBhxJkS2W-2KpjPJGFP3IZlxbc3QGXpiWWNA/formResponse">
      <label>Name:</label>
      <input type="text" required="true" name="entry.854070292">
      <label>Email:</label>
      <input type="email" required="true" name="entry.1666885742">
      <button class="cta">Submit</button>
    </form>
    <iframe class="hidden-iframe" name="hidden-iframe"></iframe>
    <div class="newsletter-success">Thank you! Your submission was successful. Welcome to Faerin!</div>
  </div>

  <div class="nav-wrapper">
    {% include nav.html %}
    <div class="footer-copy">
      Copyright &copy; Juzi {{ site.time | date: '%Y' }}
    </div>
  </div>
</div>
