<div class="footer">
  <!-- <div class="newsletter" id="newsletter">
    <h2 class="heading1">Join Juzi's Newsletter</h2>
    <p>I am recruiting disciples to cultivate the way of email newsletters! Free boarding, fruit, and occasional insight into the art of writing cultivation manuals!</p>
    <form
      class="newsletter-form"
      target="hidden-iframe"
      action="https://assets.mailerlite.com/jsonp/1300943/forms/144745027869869832/subscribe" 
      data-code=""
      method="post"
    >
      <label>Name:</label>
      <input type="text" required="true" name="fields[name]" aria-labe="Name">
      <label>Email:</label>
      <input type="email" required="true" name="fields[email]" aria-labe="Email">

      <label class="sr-only">Robots Only:</label>
      <input type="text" name="honey-pot" class="honey-pot-input sr-only" aria-label="Robots Only">

      <button class="cta">Submit</button>
    </form>
    <iframe class="hidden-iframe" name="hidden-iframe"></iframe>
    <div class="newsletter-success">Thank you! Please remember to check your inbox for a confirmation email. Welcome to the Land of Sea &amp; Flame!</div>
  </div> -->

  <div id="newsletter" class="newsletter">
    {% include newsletter-form.html %}
  </div>

  <div class="nav-wrapper">
    {% include nav.html %}
    {% include social-media-lcons.html %}
    <div class="footer-copy">
      Copyright &copy; Juzi {{ site.time | date: '%Y' }}
    </div>
  </div>
</div>
