<section class="block">
  <h2 class="heading1">Books from the Land of Sea &amp; Flame</h2>
  <p class="paragraph">Juzi's "open" eastern fantasy series showcasing a variety of themes, moods, and perspectives. All books are standalone, designed to be read in any order/combination.</p>
  <div class="series-list">
    <a href="{{ site.url }}/sun-slayer/">
      <div class="book-sm">
      <img src="{{ site.url }}/img/writing/sun-slayer/sun-slayer-cover-ebook.jpg" title="Sun Slayer Book Cover" alt="Sun Slayer by Juzi">
      <div class="shading"></div>
      </div>
    </a>
    <a href="{{ site.url }}/once-immortal/">
      <div class="book-sm">
      <img src="{{ site.url }}/img/writing/once-immortal/once-immortal-cover.jpg" title="Once Immortal Book Cover" alt="Once Immortal by Juzi">
      <div class="shading"></div>
      </div>
    </a>
  </div>
</section>
