<nav>
  <ul>
    <li>
      <a href="{{ site.url }}">Books</a>
    </li>
    <!--<li>
      <a href="{{ site.url }}/bookcovers">Book Covers</a>
    </li>-->
    <!-- <li>
      <a href="{{ site.url }}/art">Art & Design</a>
    </li> -->
    <!--
    <li>
      <a href="{{ site.url }}/webdesign">Web Design</a>
    </li>
    -->
    <li>
      <a href="{{ site.url }}/about">About</a>
    </li>
    <li>
      <a href="{{ site.url }}/contact">Contact</a>
    </li>
    <li>
      <a href="#newsletter" class="newsletter-link">Newsletter Signup</a>
    </li>
    <!--
    <li>
      <a href="{{ site.url }}/blog">Blog</a>
    </li>
    -->
  </ul>
</nav>
