<div class="social-media-icons">
    <a href="https://www.goodreads.com/author/show/51709248.Juzi_" alt="Juzi's Goodreads Profile">
        <img src="{{ site.url }}/img/icons/goodreads-brands-solid-full.svg" alt="Goodreads Logo"/>
    </a>
    <a href="https://www.amazon.com/stores/Juzi/author/B0DJ1J1D5X" alt="Juzi's Amazon Profile">
        <img src="{{ site.url }}/img/icons/amazon-brands-solid-full.svg" alt="Amazon Logo"/>
    </a>
    <a href="https://www.youtube.com/@juzibooks/shorts" alt="Juzi's Youtube Channel">
        <img src="{{ site.url }}/img/icons/youtube-brands-solid-full.svg" alt="Youtube Logo"/>
    </a>
    <a href="https://x.com/anexoticorange" alt="Juzi's X/Twitter Profile">
        <img src="{{ site.url }}/img/icons/x-twitter-brands-solid-full.svg" alt="X Logo"/>
    </a>
    <a href="https://www.threads.com/@juzibooks" alt="Juzi's Threads Profile">
        <img src="{{ site.url }}/img/icons/threads-brands-solid-full.svg" alt="Threads Logo"/>
    </a>
</div>